body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

    .button:hover {
        background-color: red;
    }

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

.nav-link:hover {
    font-size: 30px;
    color: #850AE5;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
    opacity: 0.5;
}

.article-but:hover {
    opacity: 1;
}

.full-image {
    margin: 100px 0px 100px 0px;
    opacity: 0.5;
}

.full-image:hover {
opacity: 1;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.VK {
width: 100px;
height: 250px;
position:fixed;
left:850px ;
bottom: 370px;
background-color: #850AE5;
}
.social {
margin-left: 25px;
margin-top: 50px;
opacity: 0.7;
}
.social:hover {
    opacity: 1;
}

.logo {

}
